__pycache__
.env
env.sh
temp/*
sounds/*
output/*
images/*
*.zip
*.srt
*.mp4
*.mp3
.history
subtitles/*
/venv
client_secret.json
main.py-oauth2.json
.DS_Store
Backend/output*
Backend/*_test.py
Backend/temp.py
Songs/